html,
body
{
    height: 100%;
    margin: 0;
}

.clearfix:after
{
    font-size: 0;

    display: block;
    visibility: 'hidden';
    clear: both;

    content: ' ';
}

.fontZero
{
    font-size: 0;
}


/*** for demo only ***/

#wrapper
{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    width: 100%;
    max-width: 20rem;
    margin: 1em auto;
}

#brand a,
p a
{
    border: 1px #fff dotted;
}

#brand a:focus,
p a:focus
{
    border: 1px #999 dotted;
    outline: none;
}

p
{
    padding-top: 1em;
}


/*list*/

.list
{
    font-size: 0;

    margin: .5rem;
    padding: .5rem .5rem;

    background-color: rgb(224, 224, 224);
}

.list .item
{
    height: 1.5rem;

    background: white;
}

.list .item:not(:last-child)
{
    border-bottom: 1px solid rgb(224, 224, 224);
}

.list .item .pic-wrapper
{
    float: left;

    width: 2rem;
    height: 100%;
}

.list .item .pic
{
    width: 100%;
    height: 100%;
}

.list .item .title
{
    font-size: 0.4rem;
    line-height: 1.5rem;

    float: left;
    overflow: hidden;
    /*width: 340px;*/

    height: 100%;
    padding: 0 0.5rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #666;
}


/*control*/
.control-wrapper
{
    height: 1rem;
}
.control-wrapper .pull-left,
.control-wrapper .pull-right
{
    height: 100%;
}

.mid-wrapper
{
    font-size: 0;
}

.mid-wrapper:after
{
    display: inline-block;

    height: 100%;

    content: ' ';
    vertical-align: middle;
}
.mid-wrapper span,
.mid-wrapper input,
.mid-wrapper label,
.mid-wrapper button
{
    display: inline-block;

    vertical-align: middle;
}
